body {
  margin: 2em 5em;
  background-image: linear-gradient(lightcyan, aquamarine, lightyellow);
}
#Vuelo {height: 150px}
.Dia1 {widht: 200px; height: 200px}
.DiaX {height: 200px}
p {border-left: medium solid darkorange; padding-left: 0.3em}
table,td {border: medium solid black; padding: 0.15em; text-align: center;}
